:root {
  --ss-background: #ECF5FD;
  --ss-surface: #FAFDFF;
  --ss-chrome: #D8E3EC;
  --ss-foreground: #090C0E;
  --ss-muted-foreground: #4B5055;
  --ss-chrome-foreground: #090C0E;
  --ss-border: #B1BCC7;
  --ss-primary: #0343AA;
  --ss-primary-foreground: #F9FCFF;
  --ss-accent: #8F3084;
  --ss-accent-foreground: #F9FCFF;
  --ss-focus: #0343AA;
  --ss-success: #006425;
  --ss-success-foreground: #F9FCFF;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #F9FCFF;
  --ss-danger: #902824;
  --ss-danger-foreground: #F9FCFF;
  --ss-primary-50: #F5F9FF;
  --ss-primary-100: #E1ECFF;
  --ss-primary-200: #C2D9FF;
  --ss-primary-300: #99BFFF;
  --ss-primary-400: #649CFF;
  --ss-primary-500: #447FE7;
  --ss-primary-600: #2B66CD;
  --ss-primary-700: #194EAD;
  --ss-primary-800: #033589;
  --ss-primary-900: #00205D;
  --ss-primary-950: #000E33;
  --ss-accent-50: #FFF5FD;
  --ss-accent-100: #FFE0F9;
  --ss-accent-200: #FFC0F3;
  --ss-accent-300: #F09DE2;
  --ss-accent-400: #D37AC5;
  --ss-accent-500: #B85BAB;
  --ss-accent-600: #9E4192;
  --ss-accent-700: #822D78;
  --ss-accent-800: #64155B;
  --ss-accent-900: #45003F;
  --ss-accent-950: #240020;
}
